body{
	background-color: #b98e77;
}
.content{
	width: 1820px;
	border: 1px;
    margin:  1px auto;
    padding: 1px;

}
/*  МЕНЮ */
.menu{
	height: 60px;
	border: 1px;
	margin: auto;
}
.leb-menu{
	height: 0px;
}
#dws-menu,
header label {
 display: none;
}
ul{

 	list-style: none;   /*убираем маркеры списка*/
 	margin: 0;   /*убираем верхнее и нижнее поле, равное 1em*/
  	padding-left: 0;   /*убираем левый отступ, равный 40px*/
}
ul{
	display: flex;
	float: right;

}
a{
	text-decoration: none;   /*убираем подчеркивание текста ссылок*/
	padding: 1em;	
	height: 5px;
	color: #90604C;
  	font-family: 'Oswald', sans-serif;
  	font-size: 41px;
}
a:hover {
	color: #dbc197;
}
.blok2{
	padding: 0px;
	font-family: 'IBM Plex Sans', sans-serif;
  	color: #d9af96;
  	height: 1225px;
  	text-align: center;
  	margin: auto;
}
.p66{
	width: 0;
}

.a1, .a2, .a3 {
	width: 580px;
	float: left;
	padding: 0px;
	background-color:#90604C;
	display: inline-table;
	margin-left: 16px;
	
}
.a_1, .a_2, .a_3 {
	margin: 30px 0px;
	width: 500px;
	height: 500px;
}

.a111, .a222, .a333 {
	font-size: 70px;
	width: 560px;
	margin: 10px;
}
.aaa1, .aaa2, .aaa3{
	font-size: 45px;
	margin: 0px 10px 30px 30px;
	width: 510px;
}

.wer_1, .wer_2, .wer_3{
	width: 33.3335%;
	float: left;
}


.p1, .p2, .p3{
	width: 500px;
}
