body{
	background-color: #b98e77;
}
/*  основной блок контента */
.content{
	width: 440px;
	border: 0.1px;
    margin:  1px auto;
    padding: 1px;

}
/*  МЕНЮ */
.menu {

  position: absolute;
  width: 140px;
  text-align: left;
  margin-left: -400px;
  transition: all 0.5s;
 }
 .menu ul {
  flex-direction: column;
 }
 #dws-menu:checked ~ .menu {
  margin: 0;
 }

 .menu li a {
  font-size: 27px;

 }
ul{
	background-color:#90604C;
 	list-style: none;   /*убираем маркеры списка*/
 	margin: 0;   /*убираем верхнее и нижнее поле, равное 1em*/
  	padding-left: 0;   /*убираем левый отступ, равный 40px*/
}
ul{
	display: flex;
	float: right;

}
li{
	height: 51px;
}
a{
	text-decoration: none;   /*убираем подчеркивание текста ссылок*/	
	padding: 2px ;
	color: #b98e77;
  	font-family: 'Oswald', sans-serif;
  	font-size: 37px;
}
a:hover {
	color: #dbc197;
}
/*  ПЕРВЫЙ блок */
.ve{
	height: 260;
	float: left;
	border: 0.1px;
	width: 0;
}
.table1{
	height: 480;
	width: 440;
	text-align: center;
}
.r_table1{
	height: 480;
	padding: 1em;
}
.blok1{
	border: 0.1px;
	height: 480px; 
	background-color:#90604C;
}
.good{
	font-family: 'Merienda', cursive;
	font-size: 92px;
	color: #dbc197;
	text-align: center; 
	height: 110;
}
.coma{
	color: #dbc197;
	font-family: 'Caveat', cursive;
	font-size: 43px;
	text-align: center; 
}
.rew{
	text-align: center; 
}

/* ВТОРОЙ блок */
.blok2{
	margin: auto;
    text-align: center;
    border-spacing: 0px;
}
.wulf{
	height: 300px;
	background-color:#dbcabd;
	color: #573f2c;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	
}
.rex{
	padding: 40px;
	width: 600px;
}
.rek{
	height: 170px;
	background-color:#704e3b;
	color: #dbcabd;
	font-family: 'Caveat', cursive;
	font-size: 30px;
}
.ppp{
	background-color:#d9af96;
}
.p222{
	width: 100%;
}
.wert{
	color: #573f2c;
	font-size: 10px;
	text-align: left;
}
.p66{
	width: 5%;
}
.p20{
	width: 0;
}
.p3{
	width: 440px;
}
.p10{
	width: 0;
}
.p1{
	width: 0;
}
.p7{
	width: 80%;
}
.p2{
	width: 0;
}



