body{
	background-color: #b98e77;
	
}
.content{
	width: 1110px;
	border: 1px;
    margin:  1px auto;
    padding: 1px;

}
/*  МЕНЮ */
.menu{
	height: 34px;
	border: 1px;
	margin: auto;
}
.leb-menu{
	height: 0px;
}
#dws-menu,
header label {
 display: none;
}
ul{

 	list-style: none;   /*убираем маркеры списка*/
 	margin: 0;   /*убираем верхнее и нижнее поле, равное 1em*/
  	padding-left: 0;   /*убираем левый отступ, равный 40px*/
}
ul{
	display: flex;
	float: right;

}
a{
	text-decoration: none;   /*убираем подчеркивание текста ссылок*/
	padding: 1em;	
	height: 5px;
	color: #90604C;
  	font-family: 'Oswald', sans-serif;
  	font-size: 21px;
}
a:hover {
	color: #dbc197;
}
.p66{
	width: 0;
}
.blok2{
	padding: 20px;
	font-family: 'Oswald', sans-serif;
  	font-size: 22px;
  	color:#d9af96;
  	width: 1110px;
    margin: 1px auto 20px auto;
}
.a1, .a2, .a3, .a4, .a5, .a6, .a7, .a8 {
	width: 320px;
	float: left;
	padding: 0px;
	background-color:#90604C;
	display: inline-table;
	margin-left: 14px;
	
}
.aaa1, .aaa2, .aaa3, .a444, .a555, .a666, .a777, .a888{
	font-size: 21px;
	margin: 0px 10px 10px 10px;
	width: 315px;
}

.wer_1, .wer_2, .wer_3, .wer_4, .wer_5, .wer_6, .wer_7, .wer_8{
	width: 33.3335%;
	float: left;
	display: flex;
    margin: 0px 0px 20px 0px;
    justify-content: space-around;
}


.p1, .p2, .p3{
	width: 300px;
	height: 240px;
}
