body{
	background-color: #b98e77;
}
/*  основной блок контента */
.content{
	width: 440px;
	border: 0.1px;
  margin:  1px auto;
  padding: 1px;

}
.leb-menu{
  height: 30px;
}
/*  МЕНЮ */
.menu {

  position: absolute;
  width: 120px;
  text-align: left;
  margin-left: -400px;
  transition: all 0.5s;
 }
 .menu ul {
  flex-direction: column;
 }
 #dws-menu:checked ~ .menu {
  margin: 0;
 }

 .menu li a {
  font-size: 27px;

 }
ul{
	background-color:#b98e77;
 	list-style: none;   /*убираем маркеры списка*/
 	margin: 0;   /*убираем верхнее и нижнее поле, равное 1em*/
  	padding-left: 0;   /*убираем левый отступ, равный 40px*/
}
ul{
	display: flex;
	float: right;

}
li{
	height: 51px;
}
a{
	text-decoration: none;   /*убираем подчеркивание текста ссылок*/	
	padding: 2px ;
	color: #90604C
  	font-family: 'Oswald', sans-serif;
  	font-size: 37px;
}
a:hover {
	color: #dbc197;
}
.p66{
  width: 5%;
}
.blok2{
  padding: 0px; 
}
.a111{
  width: 260px;
  margin: 15px;
}
.aaa1{
  font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color: black;
    margin: 5px;
    text-align: center;
}
.a1{
  background-color: white;
  margin: 0px auto;
  width: 433px;
  text-align: center;
  padding: 2px;
}
.a222{
  display: none;
}
.a2{
  background-color: white;
  margin: 0px auto;
  width: 433px;
  text-align: center;
  padding: 2px;
}
.a333{
  display: none;
}
.aaa2{
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  color: #90604C;
  margin: 10px 0px 0px 0px;
}
.blok3{
  padding: 5px 0px; 
}
.aaa234{
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  color: #90604C;
  margin: 10px 0px 0px 0px;
}
.aaa4{
  font-size: 0px;
  margin: 0px;
}
.de2{
  padding: 0px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
  color: #90604C;
  margin: 0px; 
}
.re2{
  margin: 1px;
}
audio{
  width: 420px;
  height: 40px;
}
.s2_3{
  display: flex;
  width: 430px;
  margin: 5px 5px 0px 5px;
}
