body{
	background-color: #b98e77;
	
}
/*  основной блок контента */
.content{
	width: 600px;
	border: 1px;
    margin:  1px auto;
    padding: 1px;
    height: 320px;
}
/*  МЕНЮ */
.menu{
	height: 33px;
	border: 1px;
	margin: auto;
}
.leb-menu{
	height: 0px;
}
#dws-menu,
header label {
 display: none;
}
ul{

 	list-style: none;   /*убираем маркеры списка*/
 	margin: 0;   /*убираем верхнее и нижнее поле, равное 1em*/
  	padding-left: 0;   /*убираем левый отступ, равный 40px*/
}
ul{
	display: flex;
	float: right;

}
a{
	text-decoration: none;   /*убираем подчеркивание текста ссылок*/
	padding: 1em;	
	height: 8px;
	color: #90604C;
  	font-family: 'Oswald', sans-serif;
  	font-size: 24px;
}
a:hover {
	color: #dbc197;
}
.p66{
	width: 0;
}
.blok2{
	padding: 0px;	
}
.a111{
	width: 120px;
	margin: 30px;
}
.aaa1{
	font-family: 'Oswald', sans-serif;
  	font-size: 14px;
  	color: black;
  	margin: 10px;
  	text-align: center;
}
.a1{
	background-color: white;
	margin: 0px auto;
	width: 550px;
	text-align: center;
}
.a222{
	height: 260px;
	padding: 0px;
	margin: 0px;
}
.a2{
	background-color: white;
	margin: 0px auto;
	width: 550px;
	text-align: center;
	padding: 2px;
}
.a333{
	height: 200px;
	padding: 0px;
	margin: auto;
}
.aaa2{
	font-family: 'Oswald', sans-serif;
  	font-size: 20px;
  	color: #90604C;
  	margin: 10px 0px 0px 0px;
}
.blok3{
	padding: 5px 0px;	
}
.aaa234{
	font-family: 'Oswald', sans-serif;
  	font-size: 12px;
  	color: #90604C;
  	margin: 10px 0px 0px 0px;
}
.aaa4{
  	font-size: 2px;
  	margin: 0px;
}
.de2{
	padding: 0px;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 14px;
  	color: #90604C;
  	margin: 0px; 
}
.re2{
	margin: 1px;
}
audio{
	width: 270px;
	height: 20px;
}
.s2_3{
  display: none;
}