body{
	background-color: #b98e77;	
}

.content{
	width: 1820px;
	border: 1px;
    margin:  1px auto;
    padding: 1px;
    height: 900px;
}
/*  МЕНЮ */
.menu{
	height: 60px;
	border: 1px;
	margin: auto;
}
.leb-menu{
	height: 0px;
}
#dws-menu,
header label {
 display: none;
}
ul{

 	list-style: none;   /*убираем маркеры списка*/
 	margin: 0;   /*убираем верхнее и нижнее поле, равное 1em*/
  	padding-left: 0;   /*убираем левый отступ, равный 40px*/
}
ul{
	display: flex;
	float: right;

}
a{
	text-decoration: none;   /*убираем подчеркивание текста ссылок*/
	padding: 1em;	
	height: 5px;
	color: #90604C;
  	font-family: 'Oswald', sans-serif;
  	font-size: 41px;
}
a:hover {
	color: #dbc197;
}
.p66{
	width: 0;
}
.blok2{
	padding: 0px;	
}
.a111{
	width: 500px;
	margin: 25px;
}
.aaa1{
	font-family: 'Oswald', sans-serif;
  	font-size: 41px;
  	color: black;
  	margin: 5px 30px;
}
.a1{
	background-color: white;
	margin: 0px auto;
	width: 1820px;
	text-align: center;
}
.a2{
	background-color: white;
	margin: 0px auto;
	width: 1820px;
	text-align: center;
	padding: 20px;
}

.a222{
	height: 800px;
	padding: 0px;
	margin: 0px;
}
.a333{
	height: 660px;
	padding: 0px;
	margin: auto;
}
.aaa2{
	font-family: 'Oswald', sans-serif;
  	font-size: 41px;
  	color: #90604C;
  	margin: 15px 0px 0px 0px;
}
.blok3{
	padding: 5px 0px;	
}
.aaa234{
	font-family: 'Oswald', sans-serif;
  	font-size: 20px;
  	color: #90604C;
  	margin: 20px 0px 0px 0px;
}
.aaa4{
  	font-size: 20px;
  	margin: 0px;
}
.de2{
	padding: 0px;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 31px;
  	color: #90604C;
  	margin: 0px; 
}
.re2{
	margin: 1px;
}
audio{
	width: 630px;
}
.s2_3{
  display: none;
}