body{
	padding:0px; margin:0px;
	text-align:center;
	background-color: #b98e77;
}
.content{
	width: 800px;
	border: 1px;
    margin:  1px auto;
    padding: 1px;
    height: 950px;
}
/*  МЕНЮ */
.menu{
	height: 25px;
	border: 1px;
	margin: auto;
}
.leb-menu{
	height: 0px;
}
#dws-menu,
header label {
 display: none;
}
ul{

 	list-style: none;   /*убираем маркеры списка*/
 	margin: 0;   /*убираем верхнее и нижнее поле, равное 1em*/
  	padding-left: 0;   /*убираем левый отступ, равный 40px*/
}
ul{
	display: flex;
	float: right;

}
a{
	text-decoration: none;   /*убираем подчеркивание текста ссылок*/
	padding: 1em;	
	height: 5px;
	color: #90604C;
  	font-family: 'Oswald', sans-serif;
  	font-size: 17px;
}
a:hover {
	color: #dbc197;
}
h1
{
	font-family: 'Merienda', cursive;
	font-size: 39px;
	color: #d9af96;
	margin: 15px;
}
.blok2{
	text-align: center;
	margin: auto;
    text-align: center;
    border-spacing: 0px;
    
}
.table1{
	text-align: center;
	width: 800px;
	background-color:#90604C;
}

.rew1{
	width: 510px;
}
.rew2{
	width: 510px;
}
.p66{
	width: 0;
}
.www{
	color: #d9af96;
	font-family: 'Oswald', sans-serif;
	font-size: 22px;
	text-align: left;
	
}
.w{
	padding: 20px;
}
.a1, .a2{
	width: 668px; 
	height: 500px;
}

.a3, .a4, .a5{
	width: 747px; 
	height: 500px;
}



#createdby
{
	background-color: rgba(82,96,117,0.5);
	-webkit-background-clip: text;
	color: transparent;
	text-shadow: rgba(255,255,255,0.5) 0 5px 6px;
	margin:15px auto;
	font-family:"Dancing Script", Helvetica, Arial;
	font-weight:bold;
	font-size:16px;
	padding:0px;
	display:block;
}


#createdby a
{
	font-family:Lucida Grande, Helvetica, Georgia;
	font-size:11px;
	line-height:5px;
	display:inline-table;
	color:#bec3ca;
}

.button
{
	width:auto;
	padding:16px;
	display:inline-table;
	font-family: Lucida Grande, Helvetica, Arial;
	font-size:14px;
	font-weight:normal;
	color:#787878;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(195,200,206)),
	    color-stop(1, rgb(239,239,239))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(195,200,206) 0%,
	    rgb(239,239,239) 100%
	);
	
	border:1px solid #cccccc;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	cursor:pointer;
	margin:0px 10px;
	text-decoration:none;

}

.button:hover
{
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(120,120,120)),
	    color-stop(1, rgb(152,152,159))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(120,120,120) 0%,
	    rgb(152,152,159) 100%
	);
	
	color:#f5f5f5;
	border:1px solid #787878;
}

.button a
{
	text-decoration: none;
}

#buttons
{
	width:700px;
	margin:0px auto;
	margin-top:20px;
	padding:20px;
	border-top:1px dashed #dfdfdf;
	border-bottom:1px dashed #dfdfdf;
}

