body{
	background-color: #b98e77;
}
/*  основной блок контента */
.content{
	width: 440px;
	border: 0.1px;
  margin:  1px auto;
  padding: 1px;

}
.leb-menu{
  height: 30px;
}
/*  МЕНЮ */
.menu {
  position: absolute;
  width: 120px;
  text-align: left;
  margin-left: -250px;
  transition: all 0.5s;
 }
 .menu ul {
  flex-direction: column;
 }
 #dws-menu:checked ~ .menu {
  margin: 0;
 }

 .menu li a {
  font-size: 27px;

 }
ul{
	background-color:#b98e77;
 	list-style: none;   /*убираем маркеры списка*/
 	margin: 0;   /*убираем верхнее и нижнее поле, равное 1em*/
  	padding-left: 0;   /*убираем левый отступ, равный 40px*/
}
ul{
	display: flex;
	float: right;

}
li{
	height: 51px;
}
a{
	text-decoration: none;   /*убираем подчеркивание текста ссылок*/	
	padding: 2px ;
	color: #90604C;
  font-family: 'Oswald', sans-serif;
  font-size: 37px;
}
a:hover {
	color: #dbc197;
}
.p66{
  width: 5%;
}
.blok2{
  padding: 0px;
  height: 1250px;
  text-align: center;
  margin: auto;
}
.wer_1, .wer_2, .wer_3, .wer_4, .wer_5, .wer_6{
  width: 33.3%;
  float: left;
  background: url(images/fon.png);
  background-size: cover;
}
table{
  background-size: 100%;
  width: 120px;
  height: 120px;
}
.a111, .a222, .a333, .a444, .a555, .a666{
  margin: 10px;
}
.a1, .a2, .a3, .a4, .a5, .a6{
  width: 140px;
  height: 140px;
  margin: auto;
  
}
.re2{
  text-decoration: none;   /*убираем подчеркивание текста ссылок*/  
  padding: 2px ;
  color: #d9af96;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}
.p11, .p22, .p33, .p44{
  height: 300px;
}
.a123{
  color: #d9af96;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  margin: 0px;
  text-align: left;
}