body{
	background-color: #b98e77;
	
}

.content{
	width: 1820px;
	border: 1px;
    margin:  1px auto;
    padding: 1px;
}
/*  МЕНЮ */
.menu{
	height: 60px;
	border: 1px;
	margin: auto;
}
.leb-menu{
	height: 0px;
}
#dws-menu,
header label {
 display: none;
}
ul{

 	list-style: none;   /*убираем маркеры списка*/
 	margin: 0;   /*убираем верхнее и нижнее поле, равное 1em*/
  	padding-left: 0;   /*убираем левый отступ, равный 40px*/
}
ul{
	display: flex;
	float: right;

}
a{
	text-decoration: none;   /*убираем подчеркивание текста ссылок*/
	padding: 1em;	
	height: 5px;
	color: #90604C;
  	font-family: 'Oswald', sans-serif;
  	font-size: 41px;
}
a:hover {
	color: #dbc197;
}
.p66{
	width: 0;
}
.blok2{
	padding: 0px;
  height: 1600px;
  text-align: center;
  margin: auto;
}
.wer_1, .wer_2, .wer_3, .wer_4, .wer_5, .wer_6{
	width: 16.6%;
	float: left;
	background: url(images/fon.png);
    background-size: cover;
}
table{
	background-size: 100%;
	width: 300px;
	height: 300px;
}
.a111, .a222, .a333, .a444, .a555, .a666{
	margin: 0px 70px;
}
.a1, .a2, .a3, .a4, .a5, .a6{
	width: 300px;
}
a{
  text-decoration: none;   /*убираем подчеркивание текста ссылок*/  
  padding: 2px ;
  color: #d9af96;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
}
.p11, .p22, .p33, .p44{
	height: 380px;
}
.a123{
  color: #d9af96;
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  margin: 0px;
	text-align: left;
}
