body{
	background-color: #b98e77;
}
.content{
	width: 800px;
	border: 1px;
    margin:  1px auto;
    padding: 1px;

}
.menu{
	height: 25px;
	border: 1px;
	margin: auto;
}
.leb-menu{
	height: 0px;
}
#dws-menu,
header label {
 display: none;
}
ul{

 	list-style: none;   /*убираем маркеры списка*/
 	margin: 0;   /*убираем верхнее и нижнее поле, равное 1em*/
  	padding-left: 0;   /*убираем левый отступ, равный 40px*/
}
ul{
	display: flex;
	float: right;

}
a{
	text-decoration: none;   /*убираем подчеркивание текста ссылок*/
	padding: 1em;	
	height: 5px;
	color: #90604C;
  	font-family: 'Oswald', sans-serif;
  	font-size: 17px;
}
a:hover {
	color: #dbc197;
}
.blok2{
	padding: 0px;
	font-family: 'IBM Plex Sans', sans-serif;
  	color: #d9af96;
  	height: 900px;
  	text-align: center;
  	margin: auto;
}
.p66{
	width: 0;
}
.wer_1, .wer_2, .wer_3, .wer_4{
	width: 25%;
	float: left;
} 

.wer_5, .wer_6, .wer_7, .wer_8{
	width: 25%;
	float: left;
} 

.wer_9, .wer_10, .wer_11, .wer_12{
	width: 25%;
	float: left;
}

.a1, .a2, .a3, .a4{
	margin: 10px 0px 10px 0px;
}

.a5, .a6, .a7, .a8{
	margin: 0px 0px 10px 0px;
} 

.a9, .a10, .a11, .a12{
	margin: 0px 0px 10px 0px;
}
.p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8, .p9, .p10, .p11, .p12{
	height: 190px;
}