body{
	background-color: #b98e77;
}
/*  основной блок контента */
.content{
	width: 800px;
	border: 0.1px;
    margin:  1px auto;
    padding: 1px;

}
/*  МЕНЮ */
.menu{
	height: 25;
	border: 1px;
	margin: auto;
}
#dws-menu,
header label {
 display: none;
}
ul{

 	list-style: none;   /*убираем маркеры списка*/
 	margin: 0;   /*убираем верхнее и нижнее поле, равное 1em*/
  	padding-left: 0;   /*убираем левый отступ, равный 40px*/
}
ul{
	display: flex;
	float: right;

}
a{
	text-decoration: none;   /*убираем подчеркивание текста ссылок*/
	padding: 1em;	
	height: 5px;
	color: #90604C;
  	font-family: 'Oswald', sans-serif;
  	font-size: 17px;
}
a:hover {
	color: #dbc197;
}
/*  ПЕРВЫЙ блок */
.ve{
	height: 430;
	float: left;
	border: 0.1px;
	width: 500;
}
.table1{
	height: 430;
	width: 200;
}
.r_table1{
	height: 430;
	padding: 1em;
}
.blok1{
	border: 0.1px;
	height: 438px; 
	background-color:#90604C;
}
.good{
	font-family: 'Merienda', cursive;
	font-size: 72px;
	color: #dbc197;
	text-align: center; 
	height: 100;
}
.coma{
	color: #dbc197;
	font-family: 'Caveat', cursive;
	font-size: 36px;
	text-align: center; 
}
.rew{
	text-align: center; 
}

/* ВТОРОЙ блок */
.blok2{
	margin: auto;
    text-align: center;
    border-spacing: 0px;
}
.wulf{
	height: 420px;
	background-color:#dbcabd;
	color: #573f2c;
	font-family: 'Oswald', sans-serif;
	font-size: 23px;
}
.rex{
	padding: 15px;
	width: 400px;
}
.rek{
	height: 170px;
	background-color:#704e3b;
	color: #dbcabd;
	font-family: 'Caveat', cursive;
	font-size: 36px;
}
.ppp{
	width: 0px;
}
.p222{
	width: 0px;
}
.wert{
	color: #573f2c;
	font-size: 13px;
	text-align: left;
}
.p66{
	width: 0;
}
.p20{
	width: 0;
}
.p3{
	width: 800px;
}
.p10{
	width: 0;
}
.p1{
	width: 100%;
}
.p7{
	width: 90%;
}
.p2{
	width: 90%;
}


