body{
	background-color: #b98e77;
}
/*  основной блок контента */
.content{
	width: 1820px;
	border: 1px;
    margin:  1px auto;
    padding: 1px;

}
/*  МЕНЮ */
.menu{
	height: 60;
	border: 1px;
	margin: auto;
}
#dws-menu,
header label {
 display: none;
}
ul{

 	list-style: none;   /*убираем маркеры списка*/
 	margin: 0;   /*убираем верхнее и нижнее поле, равное 1em*/
  	padding-left: 0;   /*убираем левый отступ, равный 40px*/
}
ul{
	display: flex;
	float: right;

}
a{
	text-decoration: none;   /*убираем подчеркивание текста ссылок*/
	padding: 1em;	
	height: 5px;
	color: #90604C;
  	font-family: 'Oswald', sans-serif;
  	font-size: 41px;
}
a:hover {
	color: #dbc197;
}
/*  ПЕРВЫЙ блок */
.ve{
	height: 548;
	float: left;
	border: 1px;
}
.table1{
	height: 700;
	width: 680px;
}
.r_table1{
	width: ;
}
.blok1{
	border: 1px;
	height: 720px; 
	background-color:#90604C;
}
.good{
	font-family: 'Merienda', cursive;
	font-size: 160px;
	color: #dbc197;
	height: 170px;
	text-align: center; 
}
.coma{
	color: #dbc197;
	font-family: 'Caveat', cursive;
	font-size: 79px;
	height: 40px;
	text-align: center; 
}
.rew{
	text-align: center; 
}

/* ВТОРОЙ блок */
.blok2{
	margin: auto;
    text-align: center;
    border-spacing: 0px;
}
.wulf{
	height: 680px;
	background-color:#dbcabd;
	color: #573f2c;
	font-family: 'Oswald', sans-serif;
	font-size: 45px;
}
.rex{
	padding: 15px;
	width: 900px;
}
.rek{
	height: 270px;
	background-color:#573f2c;
	color: #dbcabd;
	font-family: 'Caveat', cursive;
	font-size: 76px;
}
.ppp{
	width: 0px;
}
.p222{
	width: 0px;
}
.wert{
	color: #573f2c;
	font-size: 25px;
	text-align: left;
}
.p66{
	width: 0;
}
.p20{
	width: 100%;
}
.p3{
	width: 0;
}
.p10{
	width: 1070px;
}
.p1{
	width: 0;
}
.p7{
	width: 60%;
}
.p2{
	width: 80%;
}


